
	#header
	{
	}

		.homepage #header
		{
		}
	
			.homepage #header:after
			{
				display: none;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul > li > ul
		{
			display: none;
		}

/*********************************************************************************/
/* Carousel                                                                      */
/*********************************************************************************/

	.carousel
	{
		overflow-x: scroll;
	}